# Create this file at /lib/systemd/system
[Unit]
Description=Runs ant policy
After=multi-user.target

[Service]
ExecStart=/usr/bin/python /home/pi/Ant/ant.py
User=pi

[Install]
WantedBy=multi-user.target

