# link this file to /lib/systemd/system
Description=Runs ant policy
After=multi-user.target

[Service]
# Ensure you are using virtual env named ant-env
ExecStart=/home/pi/ant-env/bin/python /home/pi/Desktop/swarm_robotics/firmware/ant.py
User=pi

[Install]
WantedBy=multi-user.target
