# link this file to /lib/systemd/system
Description=Runs ant policy
After=multi-user.target

[Service]
# Ensure ant.py is at /home/pi/Ant for this to work.
ExecStart=/home/pi/ant-env/bin/python /home/pi/Ant/swarm_robotics/firmware/ant.py
User=pi

[Install]
WantedBy=multi-user.target
